[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "==2.8.6"
pyang = "==1.7.5"
pysmi = "==0.3.4"
elasticsearch = "*"

[dev-packages]

[requires]
python_version = "3.6"
