[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
python-arango = "*"
psycopg2-binary = "==2.8.6"
flask-wtf = "*"
elasticsearch = ">=6.4.0,<7.0.0"
gevent = "*"
email_validator = "*"


[dev-packages]



[requires]

python_version = "3.6"
